/* For Tablets */
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }
  .lesson-wrapper h2 {
    font-size: 20px;
  }
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  .fa-bars {
  visibility: hidden;
}
}

/* For Smartphones */
@media all and (max-width: 670px) {
  .fa-bars {
    display: block;
    visibility: visible;
    float: right;
    font-size: 25px;
    padding-top: 21px;
    padding-bottom: 21px;
    color: white;
  }
  .header-right {
    display: none;
  }
   .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
    text-align: left;
  }
   .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
  .btn-wrapper p {
    text-align: center;
  }
  .btn {
    width: 100%;
  }
  .facebook {
    margin-bottom: 10px;
  }
  .lesson {
    width: 100%;
  }
  footer {
    text-align: center;
  }
}
